 .list__grid {
  list-style: none;
  padding: 1em;
  display: grid;
  grid-template-rows: auto;
  gap: 0.5rem;
  max-width: 90%;
  margin: auto;
}

.filters__wraper button {
  display: inline-block;
  min-width: 100%;
}

.list__title_col {
  grid-area: title;
}

.list__status_col {
  grid-area: status;
}

.list__actions_col {
  grid-area: actions;
}

.filters__wraper button {
  display: flex;
  justify-content: space-between;
}

.filters__wraper button span:nth-child(1){
  font-weight: bold;
  text-transform: uppercase; 
}

.filters__wraper button span:nth-child(2){
  font-size: 0.9em;
  color: var(--light-text) ;
}

.App li,
.filters__wraper {
  display: grid;
  grid-template-areas: "title status actions";
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 0.3rem;
}
